<%- include('view_template/header') %>    
    <link rel="stylesheet" href="/Assets/css2.css">
        <body>
            <%- include('view_template/nav_top.ejs') %>    
            <div class="container">
                <form action="/add_movie" method="POST" enctype="multipart/form-data">
                    <div class="form-group" style="margin-top:5%">
                        <label for="movie_name">Movie</label>
                        <input type="text" class="form-control" id="movie_name"  name="movie_name" placeholder="Enter Movie">
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="movie_file">
                            <label class="custom-file-label" for="customFile">Choose Movie File</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="subtitle_file">
                            <label class="custom-file-label" for="customFile">Choose Subtitle File</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="poster_file">
                            <label class="custom-file-label" for="customFile">Choose Poster File</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Movie</button>
                </form>
            </div>
            <%- include('view_template/script_list.ejs'); %>

        <script>
            $('.custom-file-input').on('change', function() { 
                let fileName = $(this).val().split('\\').pop(); 
                $(this).next('.custom-file-label').addClass("selected").html(fileName); 
            });
        </script>
<%- include('view_template/footer') %>
