<%- include('view_template/header') %>    
    <link rel="stylesheet" href="/Assets/css2.css">
        <body>
            <%- include('view_template/nav_top.ejs') %>    
            <div class="container">
                <% for(let i=0;i<movies.length;i++){ %>
                <div class="card" style="margin-top:5%; width: 250px; height:auto;text-decoration: none;">
                    <a href="/movie/<%=movies[i].movieId%>" style="color:black; text-decoration: none;">
                        <img class="card-img-top" src="<%= movies[i].posterLink %>" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"><%= movies[i].movieName %></p>
                        </div>
                    </a>
                </div>
                <% } %>          
                <!-- <video controls>
                        <source src="<%= movies[0].movieLink %>" type="video/mp4">
                        <source src="<%= movies[0].movieLink %>" type="video/ogg">
                        <track label="English" kind="subtitles" srclang="en" src="<%= movies[0].subtitleLink %>" default>               
                        Your browser does not support HTML5 video.
                </video>                 -->
            </div>
            <%- include('view_template/script_list.ejs'); %>

<%- include('view_template/footer') %>
