<%- include('view_template/header') %>    
    <link rel="stylesheet" href="/Assets/css.css">
    <body>
        <div class="container">
            <div class="login-form">
                <div class="main-div">
                    <div class="panel">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                    <% } %>
                    <h2>Admin Login</h2>
                    <p>Please enter your username and password</p>
                    </div>
                    <form id="Login" action="/login" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include('view_template/script_list.ejs'); %>

<%- include('view_template/footer') %>
