<%- include('view_template/header') %>    
    <link rel="stylesheet" href="/Assets/css2.css">
        <body>
            <%- include('view_template/nav_top.ejs') %>    
            <div class="container">
                
                <video controls>
                        <source src="<%= movies[0].movieLink %>" type="video/mp4">
                        <source src="<%= movies[0].movieLink %>" type="video/ogg">
                        <track label="English" kind="subtitles" srclang="en" src="<%= movies[0].subtitleLink %>" default>               
                        Your browser does not support HTML5 video.
                </video>                
            </div>
            <%- include('view_template/script_list.ejs'); %>

<%- include('view_template/footer') %>
